#question {
    border: 2px solid;
}

div {
    margin: 40px;
}

.annotation{
    display: block;
    font-style: italic;
    color: gray;
    font-size: 13px;
    padding: 5px;
}

#answer {
    margin-top: 2em;
    border: 2px solid;
}
#answer .title {
    text-transform: uppercase;
    margin-left: 40px;
}